
@model IEnumerable<Docente>
@foreach (Docente docente in Model)
{

<div style="display:block;border-style:solid">
    <span>@docente.Nome @docente.Cognome</span><br />
    <span>codice fiscale: @docente.CodiceFiscale</span><br />
    <span>data di nascita: @docente.DataNascita</span><br />
    <span>email: @docente.Email</span><br />
    <span>telefono: @docente.Telefono</span><br />

    <span class="span2">Materie:</span><br />
    <div style="display:block;border-style:none">
        @foreach (Insegnamento stud in docente.Insegnamenti)
        {


            <span class="span3">@stud.Materia</span><br />



        }
    </div>
</div>
    }
